      /* cardcsss */
      #options{
        display: flex;
        margin: 2%;
    }
  #cardsection{
    margin-left: 10%;
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  #proceed{
      height: 45px;
      background-color: white;
      margin: 3%;
  }
#card_number,#expiry_month,#expiry_year{
font-size: larger;
width: 90%;
height: 30px;
}
#proceeddiv{
display: flex;
}
#proceedpay{
/* border: 1px solid red; */
padding-top: 25px;
}
/* hoteldetailscss--------- */
h2,h1{
font-family:sans-serif;
}
hr{
background-color: gainsboro;
}
#mapicon,#phoneicon,#hearticon,#checkicon,#foodicon,#spaicon,#weighticon,#wifiicon,#wallicon{
width: 20px;
height: 18px;
margin-right: 10px;
}
#ratingicon{
width: 40px;
height: 40px;
/* border: 1px solid red; */
margin-top: 8px ;
}
#hotelrating{
/* border: 1px solid red; */
padding-top: 19px;
margin: 0px;
margin-left: 2px;

}
#abouthotel,#highlights{
display: flex;

margin: 2px;
}
#abouthotel>p,#highlights>p{
margin-right: 10px;

/* border: 1px solid brown; */
}
#hoteldetails{
border: 1px solid teal;
background-color: gainsboro;
width: 100%;

}
img{
color:gray;
}
#hotelname,#hoteladdress,#exclusive{
margin-left: 20%;
}
#hotelrating,#hotelreview,#hotelrating{
margin-right: 15px;

}
/* -----reviewcss */
#review{
margin-left: 10%;
/* border: 1px solid purple; */
width: 80%;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#roomimg{
width: 780px;
height: 300px;

}
#reviewsub{
display: flex;
/* border: 1px solid brown; */
}
#roomdetails{
margin-left: 2%;
}
#edit{
color: brown;
}
/* ------fixnavcss------ */
#fixnav{
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;




width: 100%

}
#justdiv{
margin-left: 10%;
display: flex;
margin: 1px solid red;
justify-content: space-between;
width: 80%;
}
#flex{
display:flex
}
#wallicon{
/* border: 1px solid pink; */
padding-top: 15px;
}


/* 
otp css */




#otp{
    margin-left: 40%;
    margin-top: 150px;
    
    width: 350px;
    height: 350px;
    }
    #enter{
        margin-top: 25px;
    }